<div id='view-front'>
  <a href='/account' data-nav>account</a>
  <div class='front-timer'>
  {{> timer}}
  </div>

  <div class='front-history'>
    {{#each timers.all}}
    {{#unless this.active}}
    <div>
      {{> timer-item}}
    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>
