<nav class="nav">
  <a href="/" class="front {{#ifequal currentPage 'front'}}active{{/ifequal}}" data-nav>Home</a
  ><a href="/history" class="history {{#ifequal currentPage 'history'}}active{{/ifequal}}" data-nav>History</a
  ><a href="/account" class="account {{#ifequal currentPage 'account'}}active{{/ifequal}}" data-nav>Account</a>
</nav>
