<nav class="nav">
  <a href="/" class="front {{#ifequal current 'front'}}active{{/ifequal}}" data-nav>Home</a
  ><a href="/timers" class="Timers {{#ifequal current 'timers'}}active{{/ifequal}}" data-nav>Timers</a
  ><a href="/reports" class="Projects{{#ifequal current 'projects'}}active{{/ifequal}}" data-nav>Projects</a
  ><a href="/reports" class="Reports {{#ifequal current 'reports'}}active{{/ifequal}}" data-nav>Reports</a
  ><a href="/account" class="account {{#ifequal current 'account'}}active{{/ifequal}}" data-nav>Account</a>
</nav>
