<nav class="nav">
  <a href="/" class="front {{#ifequal currentPage 'front'}}active{{/ifequal}}" data-nav>Home</a
  ><a href="/timers" class="Timers {{#ifequal currentPage 'timers'}}active{{/ifequal}}" data-nav>Timers</a
  ><a href="/reports" class="Reports {{#ifequal currentPage 'reports'}}active{{/ifequal}}" data-nav>Reports</a
  ><a href="/account" class="account {{#ifequal currentPage 'account'}}active{{/ifequal}}" data-nav>Account</a>
</nav>
