{{#if timers.current}}
<div class='timer-time'>{{timers.current.start}}</div>
{{else}}
<div class='timer-time'>0</div>
{{/if}}
<div class='timer {{#if timers.current}}timer--running{{else}}timer--stopped{{/if}} timer--init'>
  <img class='timer__clock' src='/images/timer.svg' alt='running'>
  <img class='timer__add' src='/images/add.svg' alt='add'>
</div>
