{{#if timers.current}}
<div class='timer-time'>{{timers.current.start}}</div>
{{else}}
<div class='timer-time'>0</div>
{{/if}}
<div class='timer {{#if timers.current}}timer--running{{else}}timer--stopped{{/if}} timer--init'>
  <button class='timer__clock' type='submit'><img src='/images/timer.svg' alt='running'></button>
  <button class='timer__add' type='submit'><img src='/images/add.svg' alt='add'></button>
</div>
<input type='text' name='job-name'>
<input type='text' name='timer-description'>
