<form
  class='front-form-start'

  action='/timer/start'
  method='post'

  data-api-action='/api/timer/start'
  data-api-method='post'
  >

  <input name='actiontime' type='hidden' value=''>

  <input type='text' name='description'>
  <select name='jobid' class='hide-for-js-version'>
    {{#each grouped._jobs.all}}
      <option value='{{this._id}}'>{{this._members.name}}</option>
    {{/each}}
  </select>
  <button type='button' class='selectme' data-connect='jobid'>Job</button>

  <div class='timer'>
    <button class='timer__add' type='submit'><img src='/images/add.svg' alt='add'></button>
  </div>

</form>
