<div id='view-timers'>
  <div class='timers-history'>
    {{#eachobjcall grouped 'getOrderedTimers' 0=200}}
    <div>
      {{> timer-item}}
    </div>
    {{/eachobjcall}}
  </div>

  <div class='timers-timer-edit'></div>
</div>
