<div class='overlay'>

  <div class='overlay__content'>

    <h2 class='overlay__title'>Edit tags</h2>

    <button class='overlay__close'><img src='/images/cross.svg' class='icon-small' alt='Close' title='Close'></button>

    <div class='overlay__content__body'>

      <ul class='timer-tags'>
        {{#each tags}}
        <li
          class='timer-tags__tag {{#ifIn _id ../timer._tagIDs}}timer-tags__tag--selected{{/ifIn}} btn tag'
          data-value='{{_id}}'
          >
          {{_members.name}}
        </li>
        {{/each}}
      </ul>

      <button class='timer-tags-done'>Done</button>

    </div>

  </div>

</div>

