<form
  class='front-form-start'

  action='/timer/start'
  method='post'

  data-api-action='/api/timer/start'
  data-api-method='post'
  >

  <input name='actiontime' type='hidden' value=''>

  <select name='jobid' class='hide-for-js-version'>
    {{#each grouped._jobs.all}}
      <option
        value='{{this._id}}'
        {{#ifequal this._id ../recentJob._id}}selected='selected'{{/ifequal}}
        >{{this._members.name}}</option>
    {{/each}}
  </select>
  <input type='text' id='front-form-start__description' name='description' value='{{this._members.description}}' placeholder='Description'>
  <button type='button' class='selectme btn' data-connect='jobid'>{{recentJob._members.name}}</button>

  <div class='timer'>
    <button class='timer__add' type='submit'><img src='/images/add.svg' alt='add'></button>
  </div>

</form>
