<div class='overlay'>

  <div class='overlay__content'>

    <h2 class='overlay__title'>Edit details</h2>

    <button class='overlay__close'><img src='/images/cross.svg' class='icon-small' alt='Close' title='Close'></button>

    <div class='overlay__content__body'>

      <div class='timer-job'>
        <div class='timer-job--job selectmebox'>
          <ul class='selectmebox__inner'>
            {{#each jobs}}
            <li
              class='selectmebox__inner__option {{#ifequal this._id ../timer._members.jobID}}selectmebox__inner__option--selected{{/ifequal}} btn project'
              data-value='{{this._id}}'
              data-name='{{this._members.name}}'>
              {{this._members.name}}
            </li>
            {{/each}}
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

