<div class='timer-edit'>

  <input type='text' name='description' value=''>

  <div class='timer-edit--job selectmebox'>
    <ul class='selectmebox__inner'>
      <li
        class='selectmebox__inner__option selectmebox__inner__option--selected btn'
        data-value=''
        data-name=''>
      </li>
    </ul>
  </div>

</div>
