<div id='view-timers'>
  <div class='timers-history'>
  {{>timer-group}}
  </div>

  <div><button class='timers-loadmore'>Load more...</button></div>

  <div class='timers-timer-job'></div>
  <div class='timers-timer-tags'></div>
</div>
