@import "mixins";

$color-brand: #237dac;

* {
  box-sizing: border-box;
}

body {
 position: relative;

 margin: 0px;
 padding: 0px;
 background: #f1ecec;

 font-size: 16px;
 font-family: 'Montserrat', sans-serif;
}

button {
  font-family: inherit;
}

select {
  border: 0;
}

header {
  position: fixed;
  z-index: 10;

  padding: 0.5rem;
  top: 0;
  left: 0;
  right: 0;

  background: $color-brand;
  color: white;
}

.nav-outer {
  position: fixed;
  z-index: 10;

  left: 0;
  right: 0;
  top: 2.2rem;

  background-color: white;
  color: $color-brand;
}

.nav {
  margin-left: 60px;
  display: block;
  border-bottom: 2px solid gray;

  a {
    width: 33.33%;
    color: black;
    display: inline-block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid white;

    &.active {
      border-bottom: 4px solid gray;
      font-weight: bold;
    }
  }
}

.nav-timer {

  .timer {
    width: auto;
  }

  &> img, .nav-form-start {
    position: absolute;
    left: 0;
    top: 0;
    height: 57px;
    width: 57px;
    padding: 0.5rem;

    &.rotate {
      @include animation(spin 1s ease-in-out infinite);
    }
  }

  .nav-form-start {
    button {
      width: 100%;
      height: auto;
    }
  }
}

main {
  margin-top: 7rem;
}


.time {
  text-align: center;
}

.timer {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

  .timer__add, .timer__clock {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;

    img {
      width: 100%;
    }

  }

  .timer__clock img {
      @include animation(spin 1s ease-in-out infinite);
  }

  .timer--running, .timer--stopped {
    .timer__add img, .timer__clock img {
      transition: opacity 0.2s linear 0s;
    }
  }

  .timer--init {
    .timer__add img, .timer__clock img{
      transition: none;
    }
  }


  .timer--running {

    .timer__add img{
      opacity: 0;
    }

    .timer__clock img {
      opacity: 1;
    }

  }

  .timer--stopped {

    .timer__add img {
      opacity: 1;
    }

    .timer__clock img {
      opacity: 0;
    }

  }



.overlay {
  position: fixed;
  z-index: 20;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: black;
  background: rgba(255, 255, 255, 0.9);

  display: none;
}

  .overlay--show {
    display: block;
  }

  .overlay__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .overlay__content {
  }

    .overlay__content__body {
      padding: 1rem;
    }
