<header>
  <a href='/' data-nav='true'>TockTick</a>
</header>

<main>
  <div id='view-nav'>
    {{> nav-outer nav}}
  </div>

  <div class='loading'>Loading...</div>

  <div id='view'>
    <div id='view-front'>
      {{>front view}}
    </div>
    <div id='view-timers'>
      {{>timers view}}
    </div>
    <div id='view-account'>
      {{>account view}}
    </div>
  </div>
</main>

<footer>
</footer>
