@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #f1ecec;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

button {
  font-family: inherit;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

.btn {
  background-color: #237dac;
  color: white;
  padding: 3px 5px;
  border-radius: 2px; }

.icon-small {
  width: 20px;
  height: 20px; }

select {
  border: 0; }

.selectmebox {
  overflow-x: scroll;
  -ms-overflow-style: none; }
  .selectmebox::-webkit-scrollbar {
    display: none; }

.selectmebox__inner {
  display: table;
  border-collapse: separate;
  border-spacing: 5px 0;
  overflow: hidden;
  font-size: 1em;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.selectmebox__inner__option {
  display: table-cell;
  overflow: hidden;
  white-space: nowrap; }

.selectmebox__inner__option--selected {
  border: 2px solid black; }

header {
  position: fixed;
  z-index: 10;
  padding: 0.5em;
  top: 0;
  left: 0;
  right: 0;
  background: #237dac;
  color: white; }
  header a {
    color: white;
    text-decoration: none; }

.hide {
  display: none; }

.nav-outer {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 2.2em;
  background-color: white;
  color: #237dac; }

.nav {
  margin-left: 60px;
  display: block;
  border-bottom: 2px solid gray; }
  .nav a {
    width: 25%;
    color: black;
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid white; }
    .nav a.active {
      border-bottom: 4px solid gray;
      font-weight: bold; }

.nav-timer {
  float: left; }
  .nav-timer .timer {
    width: auto;
    height: auto; }
  .nav-timer .nav-form-start {
    position: absolute;
    left: 0;
    top: 0;
    height: 57px;
    width: 57px;
    padding: 0.5em; }
    .nav-timer .nav-form-start button {
      width: 100%;
      height: auto; }
  .nav-timer .nav-timer__running {
    position: relative;
    height: 57px;
    width: 57px; }
    .nav-timer .nav-timer__running > a img, .nav-timer .nav-timer__running .nav-form-start {
      position: absolute;
      left: 0;
      top: 0;
      height: 57px;
      width: 57px;
      padding: 0.5em; }
      .nav-timer .nav-timer__running > a img.rotate, .nav-timer .nav-timer__running .nav-form-start.rotate {
        -webkit-animation: spin 1s ease-in-out infinite;
        -moz-animation: spin 1s ease-in-out infinite;
        -ms-animation: spin 1s ease-in-out infinite;
        animation: spin 1s ease-in-out infinite; }
  .nav-timer .nav-timer__running__count {
    background-color: #237dac;
    color: white;
    position: absolute;
    bottom: 0.8em;
    right: 0.8em;
    width: 1.4em;
    height: 1.4em;
    border-radius: 1em;
    font-size: 0.6em;
    line-height: 1.4em;
    text-align: center; }

main {
  margin-top: 5.7em; }

#view-front {
  padding: 0.5em; }

.time {
  text-align: center; }

.timer {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto; }

.timer__add, .timer__clock {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none; }
  .timer__add img, .timer__clock img {
    width: 100%; }

.timer__clock img {
  -webkit-animation: spin 1s ease-in-out infinite;
  -moz-animation: spin 1s ease-in-out infinite;
  -ms-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite; }

.timer--running .timer__add img, .timer--running .timer__clock img, .timer--stopped .timer__add img, .timer--stopped .timer__clock img {
  transition: opacity 0.2s linear 0s; }

.timer--init .timer__add img, .timer--init .timer__clock img {
  transition: none; }

.timer--running .timer__add img {
  opacity: 0; }
.timer--running .timer__clock img {
  opacity: 1; }

.timer--stopped .timer__add img {
  opacity: 1; }
.timer--stopped .timer__clock img {
  opacity: 0; }

.timer-list-item {
  background-color: rgba(35, 125, 172, 0.1);
  border-bottom: 1px solid white; }
  .timer-list-item:after {
    content: "";
    display: table;
    clear: both; }

.timer-list-item__name {
  background-color: rgba(35, 125, 172, 0.7);
  color: white;
  padding: 0.5em; }
  .timer-list-item__name span {
    margin-left: 1em;
    font-size: 0.7em; }

.timer-list-item__status {
  float: left;
  width: 50px;
  padding: 0.5em; }

.timer-list-item__status--running img {
  -webkit-animation: spin 1s ease-in-out infinite;
  -moz-animation: spin 1s ease-in-out infinite;
  -ms-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite; }

.timer-list-item__timings {
  float: left;
  padding: 0.5em; }

.timer-list-item__timings__started {
  font-size: 0.7em; }

.timer-list-item__timings__stopped {
  font-size: 0.7em; }

.timer-list-item__actions {
  float: right;
  width: 100px;
  padding: 0.5em;
  text-align: right; }

.timer-list-item__actions__stop {
  display: inline-block; }

.timer-list-item__actions__edit {
  display: inline-block; }
  .timer-list-item__actions__edit button img {
    transition: transform 0.2s linear 0s; }

.timer-list-item__actions__edit--active button img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.timer-list-item__subactions {
  display: none;
  clear: both; }

.timer-list-item__subactions--show {
  display: block; }

.timer-list-item__edit {
  display: inline-block; }

.timer-list-item__delete {
  display: inline-block; }

.overlay {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 2em;
  background: black;
  background: rgba(255, 255, 255, 0.9);
  display: none; }

.overlay--show {
  display: block; }

.overlay__title {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  margin: 0;
  font-size: 1.1em; }

.overlay__close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.1em; }

